/* links and buttons
==================================================*/

a {
    color: #6f4451;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

a:hover {
    color: #6f4451;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: underline;
}


.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  font-style: 'Montserrat', sans-serif;
  line-height: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

/* font styling
==================================================*/

h1 {
    font-size: 44px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 62px
}

h2 {
    font-size: 36px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 50px
}

h3 {
    font-size: 24px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 42px
}

h4 {
    font-size: 20px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 38px
}

.hjumbo {
    font-size: 64px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 80px
}

.hjumbosmall {
    font-size: 36px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
}

p {
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.8;
}

.pbold {
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 28px; 
}

.welcome-text {
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.8
}

ul {
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.8; 
}

 

/* nav bar and footer
==================================================*/

nav {
    font-family:'Montserrat', sans-serif;
    border-bottom: 1px solid #d5d5d5;
    max-width: 950px;
    width: 70vw;
}

.nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


a.logo {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

a.logo:hover {
    text-decoration: none;
}

.nav-menu {
    display: flex;
}

a.navitem {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 20px;
}

nav ul, footer ul {
    padding: 0;
}

nav ul li, footer ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    border-top: 1px solid #d5d5d5;
    max-width: 950px;
    width: 70vw;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
}

/* flexbox for body
==================================================*/

body {
    margin: 40px auto;
    max-width: 950px;
    width: 70%;
}

.headshot {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
} 

.headshot img {
    width: 200px;
} 

.hero-image {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hero-row {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.hero-text {
    display: flex;
    flex-direction: column;
}


/* portfolio section
==================================================*/

.portfolio-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    position: relative;
    width: calc(50% - 10px);
    padding-top: 30%;
    margin: 5px;
    overflow: hidden;
}

.portfolio-item img{
  position: absolute;
  bottom: 0;
  min-height: 100%;
  width: 100%;
}

.portfolio-item > .portfolio-item-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #6f4451;
    transition: opacity .2s;
    opacity: 0;
}

.portfolio-item:hover .info-slide:active .portfolio-item-hover {
    opacity: 1;
}

.portfolio-item > .portfolio-item-hover > .item-info {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
}

.portfolio-item > .portfolio-item-hover > .item-info > p {
    color: #ffffff;
    display: block;
    line-height: 24px;
    margin: 20px;
    text-align: left;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-inner {
    padding-bottom: 0 !important;
    padding-top: 15px;
}

/* Responsive media queries
==================================================*/

@media only screen and (max-width: 800px) {
    body {
        margin: 40px auto;
        width: 80%;
    }
    .footer {
        justify-content: center;
        width: 80vw;
    }
    .headshot {
        align-self: center;
        margin-right: initial;
    }
    .hero-row {
        flex-direction: column;
    }
    .hjumbosmall {
        text-align: center;
    }
    .nav {
        flex-direction: column;
        justify-content: center;
        width: 80vw;
    }
    .welcome-text {
        text-align: center;
    }
    .portfolio-row{
        flex-direction: column;
        align-items: center;
    }
    .portfolio-item{
        width: 100%;
        padding-top: 66%;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
    .portfolio-item > .portfolio-item-hover > .item-info > p {
    font-size: 12px;
    line-height: 18px;
    margin-top: 6px;
    margin-bottom: 6px;
    }
}


/* Blog */

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

